html {
  font-size: 62.5%;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #212121;
}
.is_sp {
  display: none;
}
.l_wrap {
}
.l_globalnav {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vmax;
  border-right: 2px solid #FAFAFA;
  background-color: rgba(33, 33, 33, 0.8);
}
.l_globalnav .l_gLogo {
  padding: 48px 0;
  text-align: center;
}
.l_globalnav .l_gLogo_img {
  width: 160px;
  height: 160px;
}
.l_globalnav .l_gInner {
}
.l_globalnav .l_gUl {
  padding: 0;
  margin: 0;
  list-style: none;
}
.l_globalnav .l_gLi {
  border-bottom: 1px solid #FAFAFA;
}
.l_globalnav .l_gLi:first-child {
  border-top: 1px solid #FAFAFA;
}
.l_globalnav .l_gLink {
  display: flex;
  align-items: center;
  min-height: 88px;
  padding-left: 28px;
  font-size: 2rem;
  color: #FAFAFA;
  background: rgba(250, 250, 250, 0.1) 0 center no-repeat;
}
.l_globalnav .l_gLink.m_dashboard {
  background-image: url('./../img/common/icon_dashboard.svg');
}
.l_globalnav .l_gLink.m_task {
  background-image: url('./../img/common/icon_task.svg');
}
.l_globalnav .l_gLink.m_rental {
  background-image: url('./../img/common/icon_rental.svg');
}
.l_account {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #FAFAFA;
  min-height: 88px;
  background-color: rgba(136, 184, 207, 0.2);
}
.l_account .l_aIcon {
  max-width: 88px;
  max-height: 88px;
  border-radius: 50%;
}
.l_account .l_aName {
  font-weight: bold;
}
.l_account .l_aLogout {
  font-size: 1.2rem;
}
.l_main {
}
.l_footer {
}
.l_footer .l_fCredit {
  font-size: 1.2rem;
}

/* ダッシュボード */
.p_dashboard .p_sec01 {
  position: relative;
  height: 100vh;
  background: url('./../img/dashboard/pc_mainvisual_bg.png') center 0 / cover no-repeat;
}
.p_dashboard .p_sec01 .p_s01Inner {
  padding: calc(224px - 8vh) 0 0 240px;
}
.p_dashboard .p_sec01 .p_s01Title {
  width: 62.5vw;
  height: 16vw;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url('./../img/dashboard/pc_mainvisual_text.png') 0 0 / 100% auto no-repeat;
}
.p_dashboard .p_sec01 .p_s01Messages {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #212121;
  padding-left: 240px;
  background-color: rgba(33, 33, 33, 0.8);
}
.p_dashboard .p_sec01 .p_s01Message {
  padding: 40px 64px;
  font-size: 2.8rem;
  line-height: 2;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #FAFAFA;
  color: #FAFAFA;
}